@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/NotoSans-Regular.ttf');
};

@font-face {
  font-family: 'NotoSans-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/NotoSans-Bold.ttf');
};
